/.gradle
/.settings
/eclipse
/bin
/build
/run

/CREDITS-fml.txt
/LICENSE-fml.txt
/LICENSE-new.txt
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/README.txt
/forge-1.11.2-13.20.0.2296-changelog.txt
/forge-1.11.2-13.20.0.2296-mdk_Client.launch
/forge-1.11.2-13.20.0.2296-mdk_Server.launch
/Paulscode IBXM Library License.txt
/Paulscode SoundSystem CodecIBXM License.txt
/.classpath

*.bak
*.psd
*.db
gradle.properties